annotated-types
anyio
blinker
certifi
charset-normalizer
click
distro
exceptiongroup
filelock
Flask
fsspec
h11
httpcore
httpx
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
openai==1.12.0
packaging
pydantic
pydantic_core
python-dotenv
PyYAML
regex
requests
safetensors
sniffio
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug