body, html {
  font-family: Arial, sans-serif;
  background-color: #5C5470;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.h-pair {
  display: flex;
  justify-content: space-between; 
  position: relative; 
}

.word-buttons {
  position: relative; 
  left: 45vh;
  background-color: white;
  height: 58vh;
  width: 20vh;
  border-radius: 8px;
  padding:4px;
  overflow-y: auto;
}

.word-buttons button {
  display: block; 
  width: 100%; 
  margin-bottom: 10px; 
}

.game-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:  absolute;
  background-color: #6C63A0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 80vh;
  width: 60vh;
}

.score {
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.25rem;
}

.timer {
  color: white;
  padding: 5px 20px;
  border-radius: 8px;
  margin-bottom: 15vh;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  width: 15vh;
  justify-content: left;
  margin-top: -15vh;
}

.word-input {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 50%;
}

.image-container {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  height: 400px;
  margin-bottom: 20px;
  background-position: center center;
  justify-content: center;
  align-items: center;
  background-position: center center;
}

.gen-img {
  width: 100%;
  height: 100%;
  background-image: url('./test.png');
  background-size: cover; 
  background-position: center; 
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn- { background-color: #A7D129; }
.btn-meh { background-color: #FFD32A; }
.btn-great { background-color: #4CD137; }
.btn-bad { background-color: #FF3F34; }

.btn-prompt {
  background-color: #9C88FF;
  color: white;
  width: 100%;
}

.btn-prompt:hover {
  background-color: #8C7AE6;
}

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4ECFF;
  border: 1px transparent #ccc;
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* Styling for the overlay */
.overlay {
  display: none; /* Hide the overlay by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}


.instructionstitle {
  width: 80%; /* Adjust as needed */
  margin: 0; /* Center the container horizontally */
  padding: 5px;
  border: transparent;
  font-size: xx-large;
  background-color: transparent; 
  font-family: Arial, sans-serif; /* Adjust font as needed */
  line-height: 1.0; /* Adjust line height as needed */
  font-weight: 700;
}

.instructions {
  width: 80%; /* Adjust as needed */
  margin: 0; /* Center the container horizontally */
  padding: 5px;
  border: transparent;
  font-size: large;
  background-color: transparent; 
  font-family: Arial, sans-serif; /* Adjust font as needed */
  line-height: 1.0; /* Adjust line height as needed */
}

/* .keywordsgot {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 10px;
  padding: 10px; 
  border: 1px solid #ccc; 
  background-color: #f9f9f9; 
  border-radius: 5px;
} */

.btn-start {
  background-color: #00C89A;
  color: white;
  width: 50%;
  font-size: medium;
  text-align: center;
}

.btn-start:hover {
  background-color: #007A63;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.modal-title {
  color: #5D3FD3; /* Purple color for the title */
  margin-bottom: 20px;
}

.prompt-description,
.keywords-title {
  color: #5D3FD3; /* Purple color for the text */
  margin-bottom: 10px;
}

.response-container {
  margin-bottom: 20px;
}

.keywords-got-container,
.keywords-missed-container {
  display: flex;      
  flex-wrap: wrap;    
  gap: 10px;        
  margin-bottom: 10px; 
  justify-content: center;
}

.keyword {
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
  color: white; /* White text for the keywords */
}

.got {
  background-color: #A288E3; /* Lighter purple for got keywords */
}

.missed {
  background-color: #7F5DAA; /* Darker purple for missed keywords */
}

.total-score {
  font-weight: bold;
  color: #5D3FD3; /* Purple color for the score */
}

