body, html {
  font-family: Arial, sans-serif;
  background-color: #766cea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
    width: 200px;
    z-index: 1000;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-pair {
  display: flex;
  justify-content: space-between; 
  position: relative; 
}

.main-container {
  position: relative; 
  left: 45vh;
  height: 58vh;
  width: 20vh; /* Adjust height as needed */
  background-color: #e5e1ff;
  border-radius: 10px;
}

.word-buttons {
  background-color: transparent;
  position: relative; 
  border-radius: 8px;
  padding:4px;
  overflow-y: auto;
  max-height: 50vh;
}

.word-buttons-title {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #6C63A0;
    font-size: large;
    font-weight: 700;
}

.word-buttons button {
  display: block; 
  width: 100%; 
  margin-bottom: 10px; 
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.game-container {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:  absolute;
  background-color: #6C63A0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 80vh;
  width: 60vh;
}

.score {
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
}

.timer {
  color: white;
  font-weight: 600;
  font-size: 2rem;
}

.word-input {
  margin-bottom: 20px;
}


input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 50%;
}

.image-container {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  height: 400px;
  margin-bottom: 20px;
  background-position: center center;
  justify-content: center;
  align-items: center;
  background-position: center center;
}

.gen-img {
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center; 
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn- { background-color: #A7D129; }
.btn-meh { background-color: #ffd630; }
.btn-great { background-color: #3faa2e; }
.btn-bad { background-color: #e3372e; }

.btn-prompt {
  background-color: #9C88FF;
  color: white;
  width: 100%;
}

.btn-prompt:hover {
  background-color: #8C7AE6;
}

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4ECFF;
  border: 1px transparent #ccc;
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* Styling for the overlay */
.overlay {
  display: none; /* Hide the overlay by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}


.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* StartModal */
.modal-header h2 {
  color: #4A4A4A;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  padding: 20px;
}


.modal-body {
  padding: 2px 16px 20px 16px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
}

.modal-body .color-indicator {
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
}

.modal-body .green {
  background-color: #4CD137;
}

.modal-body .yellow {
  background-color: #FFD32A;
}

.modal-body .red {
  background-color: #FF3F34;
}

.modal-footer {
  padding: 10px 16px;
  text-align: center;
  border-top: 1px solid #e8e8e8;
  background-color: #F4ECFF;
}

.start-button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #9C88FF; /* Purple background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #B6A0FF; /* Lighter purple on hover */
}

/* EndModal */

.modal-title {
  color: #5D3FD3; /* Purple color for the title */
  margin-bottom: 20px;
}

.prompt-description {
  color: #5D3FD3; /* Purple color for the text */
    margin-bottom: 10px;
}

.endtitle-container {
  padding: 1px;
  margin-bottom: 10px;
}

.keywords-title {
  color: #ffffff; 
}

.response-container {
  margin-bottom: 20px;
}

.keywords-got-container,
.keywords-missed-container {
  display: flex;      
  flex-wrap: wrap;    
  gap: 10px;        
  margin-bottom: 10px; 
  justify-content: center;
}

.keywordsgot {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 10px;
  padding: 10px; 
  border: 1px solid #ccc; 
  background-color: #f9f9f9; 
  border-radius: 5px;
}

.keyword {
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
  color: white; /* White text for the keywords */
}

.got {
  background-color: #A288E3; 
}

.missed {
  background-color: #7F5DAA; 
}

.total-score {
  font-weight: bold;
  color: #5D3FD3; 
}


/* animate score */

@keyframes popUpScore {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.score-pop-up {
  position: absolute;
  animation: popUpScore 2s forwards;
  color: #4CD137; 
  font-weight: bold;
  font-size: 1.5em; 
  pointer-events: none; 
}
