body {
    font-family: Arial, sans-serif;
    background-color: #5C5470;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .h-pair {
    display: flex;
    justify-content: space-between; 
    position: relative; 
  }
  
  .word-buttons {
    position: relative; 
    left: 330px;
    background-color: white;
    height: auto;
    width: 20vh;
    overflow-y: auto;
}
  
  .game-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:  absolute;
    background-color: #6C63A0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 60vh;
    width: 60vh;
  }

  .score {
    background-color: #8C7AE6;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    width: 15vh;
  }

  .timer {
    color: white;
    margin-bottom: 20px;
  }

  .word-input {
    margin-bottom: 20px;
  }

  input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: 50%;
  }

  .image-container {
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
    margin-bottom: 20px;
    background-position: center center;
    justify-content: center;
    align-items: center;
    background-position: center center;
  }

  .gen-img {
    width: 100%;
    height: 100%;
    background-image: url('./test.png');
    background-size: cover; 
    background-position: center; 
}

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn- { background-color: #A7D129; }
  .btn-meh { background-color: #FFD32A; }
  .btn-great { background-color: #4CD137; }
  .btn-bad { background-color: #FF3F34; }
  
  .btn-prompt {
    background-color: #9C88FF;
    color: white;
    width: 100%;
  }

  .btn-prompt:hover {
    background-color: #8C7AE6;
  }