body, html {
  font-family: Arial, sans-serif;
  background-color: #2596be;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
    width: 200px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.h-pair {
  display: flex;
  justify-content: space-between; 
  position: relative; 
}

.word-buttons {
  position: relative; 
  left: 45vh;
  background-color: white;
  height: 58vh;
  width: 20vh;
  border-radius: 8px;
  padding:4px;
  overflow-y: auto;

}

.word-buttons button {
  display: block; 
  width: 100%; 
  margin-bottom: 10px; 
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.game-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:  absolute;
  background-color: #6C63A0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 80vh;
  width: 60vh;
}

.score {
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
}

.timer {
  color: white;
  font-weight: 600;
  font-size: 2rem;
}

.word-input {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 50%;
}

.image-container {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  height: 400px;
  margin-bottom: 20px;
  background-position: center center;
  justify-content: center;
  align-items: center;
  background-position: center center;
}

.gen-img {
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center; 
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn- { background-color: #A7D129; }
.btn-meh { background-color: #dfba26; }
.btn-great { background-color: #3faa2e; }
.btn-bad { background-color: #e3372e; }

.btn-prompt {
  background-color: #9C88FF;
  color: white;
  width: 100%;
}

.btn-prompt:hover {
  background-color: #8C7AE6;
}

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4ECFF;
  border: 1px transparent #ccc;
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* Styling for the overlay */
.overlay {
  display: none; /* Hide the overlay by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}



.instructionstitle {
  width: 80%; /* Adjust as needed */
  margin: 0; /* Center the container horizontally */
  padding: 5px;
  border: transparent;
  font-size: xx-large;
  background-color: transparent; 
  font-family: Arial, sans-serif; /* Adjust font as needed */
  line-height: 1.0; /* Adjust line height as needed */
  font-weight: 700;
}

.instructions {
  width: 80%; /* Adjust as needed */
  margin: 0; /* Center the container horizontally */
  padding: 5px;
  border: transparent;
  font-size: large;
  background-color: transparent; 
  font-family: Arial, sans-serif; /* Adjust font as needed */
  line-height: 1.0; /* Adjust line height as needed */
}


.btn-start {
  background-color: #00C89A;
  color: white;
  width: 50%;
  font-size: medium;
  text-align: center;
  cursor: pointer;
  position: relative;
  transform: translateX(75%);
}

.btn-start:hover {
  background-color: #007A63;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
